@import "compass/css3/box-shadow"

#buzz
  text-align: right

  h2, ul
    text-align: left

  ul
    margin: 7px 0

  li
    $avatar-size: 26px

    margin: 0 0 8px 0
    padding-left: $avatar-size + 8px
    position: relative
    min-height: $avatar-size
    word-wrap: break-word

    a
      &:first-child

        +box-shadow(#bbb, 0px, 0px, 3px)
        display: block
        height: $avatar-size
        left: 0
        position: absolute
        top: 3px
        width: $avatar-size

        img
          height: $avatar-size
          width: $avatar-size
