#clients
  h2
    margin: 2em 0 1em 0
    text-align: left

  .icon
    color: #333
    font-size: 20px

  .icon-star
    color: #ffe00d

  table
    table-layout: fixed

    td, th
      padding: 0.8em
      border-bottom: 1px solid #efefef

    td.description
      color: #666
      font-size: 0.9em

    td.authors
      text-align: right

  col.homepage, col.recommended, col.active, col.repository
    width: 1em

  col.authors
    width: 120px

  .twitter-avatar
    width: 36px
    height: 36px

  .languages
    list-style-type: none
    margin: 1.5em 0 0 0
    padding: 1.5em 0 0 0
    border-top: 1px solid #efefef

    li
      display: inline-block
      width: 7em
      margin: 0.3em
