%aside#comments
  %ul
    - Comment.find(url: req.path).sort(order: "desc").each do |comment|
      %li
        = partial "avatar", email: comment.user.email, size: 32

        %article
          - time = Time.at(comment.last_modified.to_i).utc

          %time(datetime="#{time.iso8601}" pubdate="pubdate")
            = time.strftime("%b %e, %Y %I.%M%P")

          ~ RDiscount.new(comment.body, :smart, :filter_html).to_html

  %form.user.logged-in(method="post" action="/comments" style="display: none")
    %input(type="hidden" name="url" value="#{req.path}")

    %img.user.gravatar(src="" width="32" height="32")

    %textarea(name="body")

    %input(type="submit" value="Post")

  %p.user.anonymous
    %a(href="/login") Log in to comment
