@import "compass/css3"
@import "compass/typography/text/ellipsis"
@import "compass/utilities/general/clearfix"

#commands
  $command-width: 10em
  $command-margin: 0.3em

  text-align: center

  ul
    @include clearfix
    margin: 1em 0
    text-align: left
    padding: 0

  li
    @include box-sizing(border-box)
    margin: 1em 1.5%
    overflow: hidden
    float: left
    width: 30%

    a
      @include border-radius(5px)
      background-color: #fafafa
      display: block
      height: 6em
      padding: 1em
      color: $text-color
      text-decoration: none

      &:hover, &:focus
        color: $text-color
        background: #ecf7fa

    .command
      @include ellipsis
      display: block
      font-family: "Monaco", "Menlo", monospace
      font-size: 0.9em
      margin: 0 0 2px 0
      color: #0066aa

      .args
        font-size: 0.8em
        color: #555

    .summary
      display: block
      font-size: 0.8em
      line-height: 1.5em

  nav
    margin: 0 auto
    background-color: #f0f0f0
    width: 100%
    font-size: 0.85em
    display: block
    padding: 0 0 0.1em 0

    a
      color: #555
      text-decoration: none
      display: inline-block
      padding: 0.3em 0.5em

      &.current
        background-color: #666
        color: #fff

@media screen and (max-device-width: 480px)
  #commands
    nav
      position: static

      a
        padding: 2px 1px
        font-size: 11px

        &.current
          padding: 2px 4px

    ul
      padding-top: 10px
