%section#commands
  %ul
    - @commands.each do |command|
      %li
        %span.command
          %a(href="/commands/#{command.to_param}")= command.name

          %span.args
            - command.arguments.each do |argument|
              = argument

        %span.summary= command.command["summary"]
