%div(class="example" data-session="#{session.namespace}")
  - lines.each do |line|
    %p= "redis> %s" % line.join(" ")
    %p= session.run(line)
  %form
    %p
      = "redis>"
      %input(type="text" name="command" autocomplete="off")

