%div(class="example" data-session="#{session.namespace}")
  - lines.each do |line|
    %pre= "redis> %s" % line.join(" ")
    %pre<= session.run(line)
  %form>
    %span(class="monospace")= "redis>&nbsp;"
    %input(type="text" name="command" autocomplete="off")

