%div(class="example" data-session="#{session.namespace}")
  - lines.each do |line|
    %span(class="monospace prompt")= "redis>&nbsp;"
    %span(class="monospace command")= line.join(" ")
    %pre<= session.run(line)
  %form>
    %span(class="monospace prompt")= "redis>&nbsp;"
    %input(type="text" name="command" autocomplete="off" spellcheck="false")

