#text.columns.home
  %section
    = render("#{documentation_path}/homepage.md")

  %aside

    %section#buzz
      %h2 What people are saying

      %ul

      %a(href="http://search.twitter.com/search?q=redis+-RT&lang=en") More...
