@import "mixins"

.home-section
  padding: 20px
  border-bottom: 1px solid #eee

  &:last-of-type
    border-bottom-width: 0

.home-callout
  max-width: $total-width

  .title
    font-size: 20px

@include desktop
  .home-intro
    @include row

    > section
      @include column(4)
