!!! 5

%html
  %head
    %meta(charset="utf-8")
    %link(rel="stylesheet" href="/styles.css?#{File.mtime("views/styles.sass").to_i}" type="text/css")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js")
    %script(src="http://timeago.yarp.com/jquery.timeago.js")
    %script(src="/app.js?#{File.mtime("views/app.js").to_i}")

    %title
      = [@title, "Redis"].compact.join(" – ")

  %body
    %header
      %img(src="/images/redis.png" alt="Redis" width="149" height="48")

      %nav
        %a(href="/download") Download

    = content
