@import "compass/reset"

+global-reset
+reset-html5

body
  font: 13.5px/18px sans-serif
  padding: 10px

h1
  font-size: 22px
  line-height: 26px
  font-weight: bold
  margin: 10px 0

h2
  font-size: 16px
  line-height: 22px
  font-weight: bold
  margin: 10px 0 2px 0

pre
  code
    font-family: "Menlo", monospace

@import "home"
@import "clients"
