article
  > p, ul
    margin: 7px 0

  > ul
    list-style-type: disc
    margin-left: 25px

  code
    font-size: 12px

  ol
    list-style-type: decimal
    margin-left: 25px

    li
      margin: 4px 0

    ol
      list-style-type: lower-alpha
