article
  > p, ul
    margin: 7px 0

  > ul
    list-style-type: disc
    margin-left: 25px

  code
    font-size: 12px

  ol
    list-style-type: decimal
    margin-left: 25px

    li
      margin: 4px 0

    ol
      list-style-type: lower-alpha

  aside
    border-left: 1px solid #dfdfdf
    float: right
    margin: 0 0 15px 20px
    padding: 0 0 0 20px

    > *:first-child
      margin-top: 0

    h2
      font-size: 16px
