@import "mixins"

article
  p, ul
    margin: 7px 0

  ul
    list-style-type: disc
    padding-left: 25px

  ol
    list-style-type: decimal

    li
      margin: 4px 0

    ol
      list-style-type: lower-alpha

  h2, h3
    font-weight: 500

  h2
    margin-top: 22px

  h3
    margin-top: 18px

  aside

    > *:first-child
      margin-top: 0

    h2
      font-size: 16px
      font-weight: 300

  table
    margin: 10px 0

    tr
      td
        vertical-align: top
        padding: 6px 10px
        border-bottom: 1px solid #ddd

      &:last-child
        td
          border-bottom-width: 0

      &.current
        background-color: #feffe8

    &.versions
      td
        &:first-child
          font-size: 22px
          line-height: 22px

@include desktop
  .text
    @include row

    .article-main
      @include column(8)

    aside
      @include column(4)
      border-left: 1px solid #dfdfdf
      margin: 0 0 15px 20px
      padding: 0 0 0 20px

body.topics
  &.whos-using-redis
    ul:first-of-type
      text-align: center
      list-style-type: none
      margin: 15px

      li
        margin: 10px 10px
        padding: 0
        display: inline-block
        vertical-align: middle

        img
          vertical-align: middle
          max-width: 200px
          max-height: 76px
