.text

  %article#tutorial

    = render("views/interactive.haml", session: session, lines: [], content: "foo")

    %div#files
      - Dir["views/tutorial/*.md"].each do |file|
        %div{class: ["file", File.basename(file).split(".").first]}
          ~ render(file)
