#text
  %h1
    = @command.to_s

  %article
    %p
      - if @command.since
        Available since #{@command.since}.
      - else
        Available in Redis master.

    ~ render(documentation_path + "/commands/#{@name.downcase}.md")

    - # = partial("comments")
